@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <button class="btn btn-primary">
            <a asp-area="" asp-controller="Student" asp-action="Index">Overview</a>
        </button>
        <button class="btn-primary btn">
            <a asp-area="" asp-controller="Student" asp-action="Create">Add Student</a>
        </button>
</div>
