@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="info-container">
    <p>Pictures are AI-generated licence free</p>
    <p>Fonts are licence free from <a href="https://www.dafont.com/">dafont.com</a></p>
</div>