@model List<DemoAzureMVC.Shared.Student>

@{
    ViewData["Title"] = "StudentIndex";
}

<h1>All Students</h1>
<button class="btn-primary btn">
    <a asp-action="Create">Create New</a>
</button>
<div class="text-center pb-3">
    <div class="students">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="student">
                    <h2 class="studentName"> @Html.DisplayFor(modelItem => item.FullName) </h2>
                    <div class="image">
                        @if (item.PictureUrl != null)
                        {
                            @if (item.PictureUrl.Contains("http"))
                            {
                                <img src="@item.PictureUrl" width="400" />
                            }
                            else
                            {
                                <img src="~/css/@item.PictureUrl" width="400" class="right-img" />
                            }
                        }
                        else
                        {
                            if (item.IsWizard)
                            {
                                <img src="~/css/wizardNoPhoto.png" width="400" class="right-img" />
                            }
                            else {
                                <img src="~/css/witchNoPhoto.png" width="400" class="right-img" />
                            }
                        }
                    </div>
                </div>
            </a>
        }
    </div>
</div>